<div class="container">
  <h3>Aplikasi Pecahan Rupiah</h3>

  <form (ngSubmit)="onSubmit()" [formGroup]="uangForm" action="" (keydown)="onPressEnter($event)" >
    <div class="form-group">
      <label for="">Nominal</label>
      <input type="text" formControlName="uang" id="uang" placeholder="Rp 17500" class="form-control">
      <span *ngIf="!uangForm.get('uang').valid && uangForm.get('uang').errors.required"> *tidak boleh kosong </span> 
      <span *ngIf="!uangForm.get('uang').valid && uangForm.get('uang').errors.pattern">*invalid input, input tidak boleh mengandung spasi dan koma sebagai pemisah ribuan, Rp harus di depan, dan Rp harus di sertai nominal</span>
    </div>

    <button class="submit-btn" id="submit" type="submit" [disabled]="!uangForm.valid">Dapatkan pecahan</button>
  </form>
</div>

<div  class="result-box" *ngIf="pecahan.length > 0"> 
  <label for="" *ngFor="let data of pecahan">{{data}}</label>
</div>