<div class="container">
  <h3>Aplikasi Pecahan Rupiah</h3>

  <form (ngSubmit)="onSubmit()" [formGroup]="uangForm" action="" (keydown)="onPressEnter($event)">
    <div class="form-group">
      <input type="text" formControlName="uang" id="uang" placeholder="Rp 17500" class="form-control">
      <span *ngIf="!uangForm.get('uang').valid && uangForm.get('uang').errors.required"> can not be empty </span> 
      <span *ngIf="!uangForm.get('uang').valid && uangForm.get('uang').errors.pattern">invalid input, you should .....</span>
    </div>

    <button type="submit" [disabled]="!uangForm.valid">Submit</button>
  </form>
</div>

<div *ngFor="let data of pecahan">
  <label for="" >{{data}}</label>
</div>